body {
  font-family:sans-serif;
  color:#969696;
}

/* headline - NEED TO FIX */

.top {
  
}

#headline {
  color:#F30000;
  font-size:36px;
}

/* top navigation */

#top-nav {
  list-style: none;
  margin-left:0;
  padding:0;
  overflow:hidden;
  background-color:#000;
}

#top-nav li {
  float:left;
  border-right:#FFF 1px solid;
}

#top-nav li:last-child {
  border-right:none;
}

#top-nav a {
  display:block;
  color:#FFF;
  text-decoration:none;
  text-align:center;
  padding:14px;
}

#top-nav a:hover {
  color:#F30000;
}

/* content */

.content div:last-child {
  border:none;
}

.content a {
  color:#F30000;
  text-decoration:none;
}

.content a:hover {
  text-decoration:underline;
}

.col-8 {
  float:left;
  width:66.66666666%;
  box-sizing:border-box;
}

.col-4 {
  float:left;
  width:33.333333333%;
  box-sizing:border-box;
}

.title {
  color:#000;
}

.image {
  width:100%;
}

.drop-cap {
  float:left;
  width:55px;
  height:55px;
  font-size:4em;
  margin-top:-10px;
}

.post, .sidebar, .footer {
  position: relative;
  border-bottom:#CCC 2px solid;
  margin:20px;
  padding-bottom:20px;
}

.right-link {
  position:absolute;
  right:0;
  bottom:10px;
  font-weight:bold;
}

#ad {
  background-color:#CCC;
  height:200px;
  width:200px;
  text-align:center;
  font-size:3em;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

#ad div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
}

#nav-footer {
  padding:0;
}

#nav-footer li {
  display:inline;
  list-style:none;
  border-right:#CCCCCC 1px solid;
  padding-left:3px;
  padding-right:5px;
}

#nav-footer li:last-child {
  border:none;
}
